APP_NAME=Dashboard Multiempresa API
JWT_SECRET=change-this-secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=240
COMPANY_TOKEN_EXPIRE_MINUTES=30
STORE_PATH=app/data/local_store.json
CORS_ORIGINS=http://localhost:5173,https://seu-site.netlify.app
